<div class="repo fadeIn">
  <a
    href="https://github.com/{{it.repo.owner.login}}/{{it.repo.name}}"
    class="repo-name"
    target="_blank"
    aria-label="Go to Repo"
    ><span>{{it.repo.name}}</span></a
  >
  <span class="repo-description"
    >{{@if (it.repo.description)}}{{it.repo.description}}{{#else}}No
    Description.{{/if}}</span
  >
  <ul class="repo-referrers">
    <li>
      {{@if (it.repo.homepage)}}
      <a
        href="{{it.repo.homepage}}"
        target="_blank"
        aria-label="Go to Repo Homepage"
      >
        <img
          src="assets/website.svg"
          width="32"
          height="32"
          alt="Website Icon"
        />
      </a>
      {{#else}} No Homepage {{/if}}
    </li>
  </ul>
</div>
